DISCORD_TOKEN='bot token'

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

GAME_SHADOW_BAN_ROLE='Shadow Banned'
GAME_MEMBER_ROLE='Membro'

LOG_LEVEL=info
PYTHONPATH=.
